html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
}

.container {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: minmax(160px, 14%) 1fr;
}

.sidebar {
  grid-area: 1/1/3/2;
  background-color: #0078b8;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 4%;
  padding: 10px;
}
.sidebar .sidebar-element {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar .sidebar-element .logo img {
  width: 50px;
  height: 50px;
}
.sidebar .sidebar-element:hover {
  transform: scale(1.02);
}
.sidebar .nn:hover {
  transform: scale(1);
}
.sidebar .top-buttons > .sidebar-element {
  padding-top: 10px;
}
.sidebar .bot-buttons > .sidebar-element {
  padding-top: 10px;
}

.header {
  background-color: white;
  grid-area: 1/2/2/3;
  box-shadow: 2em 0 2em rgba(0, 0, 0, 0.3);
}
.header .top-header {
  display: flex;
}
.header .top-header .right-side {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 5%;
}
.header .top-header .right-side div {
  cursor: pointer;
}
.header .top-header .right-side .notifications img {
  width: 45px;
}
.header .top-header .right-side div:hover {
  transform: scale(1.05);
}
.header .top-header .right-side .profile-small-photo img {
  width: 55px;
  border-radius: 50%;
}
.header .top-header .right-side .profile-nickname-small {
  font-weight: 700;
  font-size: 1.4rem;
}
.header .top-header .search-bar {
  flex: 2 1 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.header .top-header .search-bar input {
  width: 80%;
  padding: 10px 10px;
  border-radius: 17px;
  background-color: #e2e8f0;
  border: none;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  font-size: 1.4rem;
}
.header .top-header .search-bar img {
  width: 33px;
  height: 33px;
}
.header .bot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .bot-header .greetings {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  gap: 0;
  font-weight: 700;
  gap: 20px;
  align-items: center;
}
.header .bot-header .greetings .profile-medium-photo {
  grid-area: 1/1/3/2;
}
.header .bot-header .greetings .profile-medium-photo img {
  width: 60px;
  border-radius: 50%;
}
.header .bot-header .buttons {
  display: flex;
  gap: 10px;
  margin-right: 2rem;
}
.header .bot-header .buttons div {
  background-color: #0078b8;
  color: white;
  font-weight: 700;
  padding: 10px 31px;
  border-radius: 20px;
  cursor: pointer;
}
.header .bot-header .buttons div:hover {
  transform: scale(1.1);
}

.main {
  display: grid;
  grid-template-columns: 7fr 2fr;
  gap: 15px;
  padding: 20px;
}
.main .projects {
  background-color: #e2e8f0;
  grid-area: 2/1/5/2;
  height: 80%;
  padding: 10px;
  padding-top: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}
.main .projects .card {
  border-left: 9px #f0b429 solid;
  background-color: white;
  border-radius: 10px;
  height: 180px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.main .projects .card .card-description {
  flex: 1 0 auto;
}
.main .projects .card .card-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.main .projects .card .card-buttons img {
  cursor: pointer;
  height: 22px;
}
.main .projects .card .card-buttons img:hover {
  transform: scale(1.2);
}
.main .projects-tittle {
  grid-area: 1/1/1/1;
  padding: 15px;
  padding-left: 40px;
}
.main .ann-tittle {
  grid-area: 1/2/2/2;
  padding: 15px;
  padding-left: 0;
}
.main .announcements {
  background-color: white;
  border-radius: 10px;
  grid-area: 2/2/3/3;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  box-shadow: 0.2em 0 0.5em rgba(0, 0, 0, 0.3);
  align-items: center;
}
.main .announcements .ann-card {
  padding: 20px;
}
.main .announcements .ann-card .ann-tittle {
  font-weight: 700;
}
.main .announcements .ann-card:nth-child(2) {
  border-top: rgba(131, 127, 127, 0.685) solid 1.5px;
  border-bottom: rgba(100, 96, 96, 0.555) solid 1.5px;
}
.main .tren-tittle {
  grid-area: 3/2/4/3;
}
.main .trending {
  background-color: white;
  border-radius: 10px;
  grid-area: 4/2/4/3;
  padding: 15px;
  align-items: center;
  box-shadow: 0.2em 0 0.5em rgba(0, 0, 0, 0.3);
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main .trending .tren-card {
  display: flex;
  gap: 15px;
}
.main .trending .tren-card .tren-nick-wrapper .tren-nickname {
  font-weight: 700;
}
.main .trending .tren-card .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.main .trending .tren-nick-wrapper {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */